<template>
  <div id="gl-widget" ref="glWidget">
  </div>
</template>

<script>
  import { GLWidget } from '@gl-widget/gl-widget'
  export default {
    data() {
      return {
        glWidget: undefined
      }
    },
    destroyed () {
      this.glWidget.dispose()
    },
    mounted () {
      
      // 利用 id 或 htmlelement 初始化
      let glWidget = new GLWidget({
      element: 'gl-widget'
      })
      this.glWidget = glWidget

      let shader = {
        fragmentShader: `
          #ifdef GL_ES
          precision mediump float;
          #endif

          uniform float time;
          uniform vec2 resolution;

          void main()
          {
            vec2 uv = (gl_FragCoord.xy * 2.0 - resolution) / min(resolution.x, resolution.y);
            vec2 f = vec2(0.3);
            vec3 c = vec3(1.0);
            float light = 0.1;
            
            for (float x = 1.1; x < 6.0; x += 1.0)
            {
              f = vec2(cos(cos(time*0.3 + uv.x * x) - uv.y * dot(vec2(x + uv.y), vec2(sin(x), cos(x)))));
              light += (0.04 / distance(uv, f)) - (0.01 * distance(vec2((cos(time*0.3 + uv.y))), vec2(uv)));
              c.y = sin(time*0.3 + x) * 0.2 + 0.6;
            }
            
            c *= light;
            
            gl_FragColor = vec4(c, 1.0);
          }
        `,
        
        uniforms: {
          resolution:{
            value: glWidget.getSize() // canvas 大小
          },
          time: {
            value: 0
          }
        }, // 上面 fragmentShader 中用到的分辨率、时间变量
      }
      
      //每帧动画
      let i = 1
      function animate() {
        shader.uniforms['time'].value = 50*Math.cos(i+=0.002) // 设置变量值产生动画效果
      }
      window.addEventListener('resize', () => {
        glWidget.setSize(this.$refs.glWidget.clientWidth, this.$refs.glWidget.clientHeight)
        shader.uniforms['resolution'].value = glWidget.getSize()
      })
      glWidget.setupMouse()
      //开始渲染
      glWidget.renderBackground(shader, animate)

    }
  }
</script>
<style lang="stylus">
#gl-widget
  height 100vh
  color #fff
  background #eee
</style>
