<template>
  <div id="container" ref="container">
    <canvas id="canvas" width="500px" height="500px" ref="canvas"></canvas>
  </div>
</template>

<script>
import ImageViewer from "./main";
import Module from "./renderer";

export default {
  name: "WebAssembly",
  components: {},
  methods: {},
  async mounted() {
    Module({
      canvas: this.$refs.canvas
    }).then(module => {
      console.log(module);
      ImageViewer.run(module, this.$refs.container, this.$refs.canvas);
    });
  }
};
</script>

<style scoped>
#canvas {
  width: 100%;
  height: 100%;
  background: #2c3e50;
}
</style>
