<template>
  <main class="home" aria-labelledby="main-title">
    <div class="banner">
      <div class="banner-bg">
        <BannerBG></BannerBG>
      </div>
      <div class="banner-content">
        <div class="wrapper">
          <header class="hero">
            <img
              v-if="data.heroImage"
              :src="$withBase(data.heroImage)"
              :alt="data.heroAlt || 'hero'"
            />

            <h1 v-if="data.heroText !== null" id="main-title">
              {{ data.heroText || $title || "Hello" }}
            </h1>

            <p v-if="data.tagline !== null" class="description">
              {{
                data.tagline || $description || "Welcome to your VuePress site"
              }}
            </p>

            <p v-if="data.actionText && data.actionLink" class="action">
              <NavLink class="action-button" :item="actionLink" />
            </p>
          </header>

          <div v-if="data.features && data.features.length" class="features">
            <div
              v-for="(feature, index) in data.features"
              :key="index"
              class="feature"
            >
              <h2>{{ feature.title }}</h2>
              <p>{{ feature.details }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Content class="theme-default-content custom" />

    <div v-if="data.footer" class="footer">
      {{ data.footer }}
    </div>
  </main>
</template>

<script>
import NavLink from "@theme/components/NavLink.vue";

export default {
  name: "Home",

  components: { NavLink },

  computed: {
    data() {
      return this.$page.frontmatter;
    },

    actionLink() {
      return {
        link: this.data.actionLink,
        text: this.data.actionText
      };
    }
  }
};
</script>

<style lang="stylus">
.home {
  padding: 0;
  max-width: $homePageWidth;
  margin: 0px auto;
  display: block;

  .banner {
    position: relative;

    .banner-bg {
      width: 100%;
      height: 100vh;
    }

    .banner-content {
      padding-top: $navbarHeight;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .wrapper {
        width: 100%;
      }
    }
  }

  .hero {
    text-align: center;

    img {
      max-width: 100%;
      max-height: 280px;
      display: block;
      margin: 3rem auto 1.5rem;
    }

    h1 {
      color: lighten($homeTextColor, 40%);
      font-size: 3rem;
    }

    h1, .description, .action {
      margin: 1.8rem auto;
    }

    .description {
      max-width: 35rem;
      font-size: 1.6rem;
      line-height: 1.3;
      color: lighten($homeTextColor, 40%);
    }

    .action-button {
      pointer-events: auto;
      display: inline-block;
      font-size: 1.2rem;
      color: #fff;
      background-color: $accentColor;
      padding: 0.8rem 1.6rem;
      border-radius: 4px;
      transition: background-color 0.1s ease;
      box-sizing: border-box;
      border-bottom: 1px solid darken($accentColor, 10%);

      &:hover {
        background-color: lighten($accentColor, 10%);
      }
    }
  }

  .features {
    padding: 1.2rem 10%;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  }

  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      color: lighten($homeTextColor, 10%);
    }

    p {
      color: lighten($homeTextColor, 25%);
    }
  }

  .custom {
    padding: 0 10%;
  }

  .footer {
    padding: 2.5rem;
    border-top: 1px solid $borderColor;
    text-align: center;
    color: lighten($homeTextColor, 25%);
  }
}

@media (max-width: $MQMobile) {
  .home {
    .features {
      padding: 1.2rem 2rem;
      flex-direction: column;
    }

    .feature {
      max-width: 100%;
      padding: 0 2.5rem;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home {
    .hero {
      img {
        max-height: 210px;
        margin: 2rem auto 1.2rem;
      }

      h1 {
        font-size: 2rem;
      }

      h1, .description, .action {
        margin: 1.2rem auto;
      }

      .description {
        font-size: 1.2rem;
      }

      .action-button {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .feature {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}
</style>
